@font-face {
  font-family: 'mona';
  src: url('mediun.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body { 
  width: 100vw; 
  height: 100vh; 
  margin: 0; 
  overflow: hidden;
}

#canvas-container { 
  z-index: -2;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
}

canvas { display: block; }

.stats { 
  position: absolute; 
  left: 0; 
  top: 0; 
}

/* ===========================
   LOADING SCREEN
=========================== */
#loading-screen {
    width: 100vw; 
  height: 100vh; 
  position: fixed;
  inset: 0;
  background: #00000010; /* transparente suave */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: opacity .6s ease;
  overflow: hidden;
}

.loader {
  z-index: 9;
  width: 60px;
  height: 60px;
  border: 6px solid #444;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}


.nav{
  position: absolute;
  top: 0px;
  margin-top: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.nav img{
  z-index: 0;
}


.carousel {
  position: absolute;
  left: 50%;
  bottom:0%;
  transform: translate(-50%, -0%);
  z-index: 9;
  width: 100%;
  height: 190px;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.carousel-track {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;  
}


.item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  height:fit-content;
  border-radius: 9px;
  padding: 7px;
  background: #ffffff;
  transform-style: preserve-3d;
   transform-origin: center center;
  transition: 
    transform 0.6s ease,
    opacity 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid transparent;
    filter: blur(0px);
  transition:
    transform 0.6s ease,
    opacity 0.6s ease,
    filter 0.6s ease;
}

/* BOTÓN BASE (OCULTO DETRÁS) */
.item-btn {
  position: absolute;
  left: 50%;
  bottom: 0; /* empieza detrás del item */
  transform: translateX(-50%) translateY(9px) scale(0.8);
  z-index: -1;
  width: 100%;
  padding: 6px 14px;
  border-radius: 7px;
  border: none;
  background: #ffffff;
  color: #000000;
  font-family: "mona";
  font-size: 15px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.45s ease,
    opacity 0.35s ease;
}

/* SOLO EL ITEM CENTRAL LO SUBE */
.item.is-center .item-btn {
  bottom: 100%;
  transform: translateX(-50%) translateY(-7px) scale(1);
  z-index: 2;
  transition-delay: 0.20s;
  opacity: 1;
  pointer-events: auto;
      box-shadow: 
    0 0px 17px rgba(0, 0, 0, 0.459);
}



.item.is-center {

    box-shadow: 
    0 0px 17px rgba(0, 0, 0, 0.459);
}

.item .titulo_item{
  font-family: "mona";
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #000000;
}

.item .color_item{
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 8px;

}

/* Solo se verán 3 */
.item.hidden {
  opacity: 0;
  pointer-events: none;
}

.controls {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40%;
  display: flex;
  justify-content: space-between;
  
}



button {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.parrafo{
  position: absolute;
  bottom: 0px;
  z-index: 9;
  color: #000000;
  font-family: "mona";
  font-size: 12px;
  width: 100%;
  text-align: center;
}


/* ===========================
   POPUP
=========================== */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease;
}

.popup-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.popup {
  background: #ffffff;
  border-radius: 5px;
  padding: 22px;
  width: 320px;
  max-width: 90%;
  text-align: center;
  font-family: "mona";
  position: relative;
  animation: popupIn 0.45s ease;
}

@keyframes popupIn {
  from {
    transform: translateY(20px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

#popup-description {
  margin: 0 0 10px;
  font-size: 18px;
}

.popup .parrafo {
  font-size: 14px;
  margin-bottom: 14px;
}

.popup-color {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.popup-action {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: "mona";
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.camera-container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}




.marco {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  inset: 0;
  z-index: 10;
  height: 100dvh;
  width: 100vw;
}

.columnas_marco {
  position: absolute;
  inset: 0;
}
.col_marco_top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background: #ffffff;
}

.col_marco_top img{
  position: absolute;
  bottom:-100%;
  left: 50%;
  transform: translateX(-50%);
}
.col_marco_left {
  position: absolute;
  left: 0;
  width: 25px;
  height: 100%;
  background: #ffffff;
}
.col_marco_riht {
  position: absolute;
  right: 0;
  width: 25px;
  height: 100%;
  background: #ffffff;
}

.base_marco {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 10px 25px;
  z-index: 10;
}

#camera-video,
#camera-canvas {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
}

#camera-canvas {
  position: absolute;
  inset: 0;
}

.nav_camara{
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  z-index: 10;
  gap: 10px;
}



/* ===========================
   CAPTURE BUTTON
=========================== */
.capture-btn {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===========================
   BACK BUTTON (CAMERA)
=========================== */
.back-btn {
}

.capture-btn img{
  width: 100%;
  height: 100%;
}

#titulo_item_camera{
  width: 100%;
  margin: 0;
    font-family: "mona";
  text-align: center;
  font-size: 3.5vw;
  color: #000000;
}

.cont_marco_icon{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #000000 2px solid;
}
.barra_detalles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.detalle_uno {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detalle_uno p{
  font-family: "mona";
  font-size: 1.5vw;
  color: #000000;
}
.detalle_dos {
  width: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
}
.detalle_dos p{
  font-family: "mona";
  font-size: 1.5vw;
  color: #000000;
}
.detalle_tres {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.detalle_tres img{
  width: 10vw;
}


@media (max-width: 868px) {
  .controls {
    display: none;
  }

  #titulo_item_camera{
  width: 100%;
}

#titulo_item_camera{
  font-family: "mona";
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.cont_marco_icon{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #000000 2px solid;
}


.barra_detalles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.detalle_uno {
    display: flex;
  align-items: center;
  justify-content: center;
}
.detalle_uno p{
  font-family: "mona";
  font-size: 3.5vw;
  color: #000000;
}
.detalle_dos {
    display: flex;
  align-items: center;
  justify-content: center;
}

.detalle_dos p{
  font-family: "mona";
  font-size: 3.5vw;
  color: #000000;
}

.detalle_tres {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.detalle_tres img{
  width: 100%;
}


}