
html, body { 
  width: 100%; 
  height: 100%; 
  margin: 0; 
  overflow: hidden;
}

#canvas-container { 
  z-index: -2;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
}

canvas { display: block; }

.stats { 
  position: absolute; 
  left: 0; 
  top: 0; 
}

/* ===========================
   LOADING SCREEN
=========================== */
#loading-screen {
  position: fixed;
  inset: 0;
  background: #00000010; /* transparente suave */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: opacity .6s ease;
}

.loader {
  z-index: 9;
  width: 60px;
  height: 60px;
  border: 6px solid #444;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}


.nav{
  position: absolute;
  top: 0px;
  margin-top: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.nav img{
  z-index: 0;
}